.headingtext {
  font-family: "Montserrat", "Lobster", serif;
}

.bodyText {
  font-family: "Nunito", "Allura", sans-serif;
}

.accent {
  font-family: "Press Start 2P", cursive;
}

.nav-hover-effect:hover {
  background-color: rgba(31, 33, 31, 0.7);
  height: 100%;
  /* width: 100%; */
}
